@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap');

.container {
    position: relative;
    width: 100vw; /* take up 100% of the viewport width */
    height: 100vh; /* take up 100% of the viewport height */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f0ffff;
  }
  .scrollable-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column; /* Display children in a column layout */
  }
  
  .lili-container {
    position: absolute; 
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    width: 30vw;
    height: 40vh;
    background-image: url('../images/coding_girl.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .about-me {
    position: absolute; 
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 50vw;
    height: 55vh;
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
    font-family: Lato;
    
  }    

.portfolio-paragraph {
  line-height: 1.8; 
}

.divider {
    width: 100%;
    position: absolute;
    top: 90%; 
    height: 3px; 
    background: linear-gradient(to right, transparent, #004225, transparent); 
    
    /* background: radial-gradient(circle, transparent, #004225);  */
    margin: 20px 0;
  }


.right_t {
    overflow: auto;
    scroll-behavior: smooth;
  }


  .experience_text {
    position: absolute;
    top: 91%; 
    left: 40%; 
    width: 50vw;
    padding: 20px;
    font-size: 30px;
    line-height: 1.5;
    font-weight: bold;
    font-family: irish grover;
  }

  .miss-container {
    position: absolute; 
    top: 155%;
    left: 5%;
    transform: translateY(-50%);
    width: 30vw;
    height: 70vh;
    background-image: url('../images/miss_professional.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    z-index: 100; 
    mix-blend-mode: multiply; 
    pointer-events: none;
  }
  .exp_1 {
    position: absolute;
    top: 115%;
    right: 10%;
    width: 450px; 
    height: 110px;
    background-color: #e9ffdb   ;
    border-radius: 20px; 
    padding: 10px;
    text-align: center;
    
    line-height: 1;
  }
  .exp_1:hover {
    transform: translateY(-18px); 
  }

  .prof{
    font-size: 20px;
    font-weight: bold;
  }
  .date, .gpa{
    font-weight: bold;
    font-size: 13px;
  }
  .comp{
    font-weight: bold;
    font-size: 16px;
  }

  .exp_2 {
    position: absolute;
    top: 145%;
    right: 10%;
    width: 450px; 
    height: 110px; 
    background-color: #e9ffdb   ;
    border-radius: 20px; 
    padding: 10px;
    text-align: center;
    
    line-height: 1;
  }
  .exp_2:hover {
    transform: translateY(-18px); 
  }
  .comp_l{
    font-weight: bold;
    font-size: 16px;
  
    color: #004225;
  }

  .exp_3 {
    position: absolute;
    top: 175%;
    right: 10%;
    width: 450px; 
    height: 110px; 
    background-color: #e9ffdb   ;
    border-radius: 20px; 
    padding: 10px;
    text-align: center;
    line-height: 1;
  }

  .exp_3:hover {
    transform: translateY(-18px); 
  }


  .divider_2 {
    width: 100%;
    position: absolute;
    top: 200%; 
    height: 3px; 
    background: linear-gradient(to right, transparent, #004225, transparent); 
    margin: 20px 0;
  }

  .journey_text {
    position: absolute;
    top: 199%; 
    left: 27%; 
    width: 50vw;
    padding: 20px;
    font-size: 30px;
    line-height: 1.5;
    font-weight: bold;
    font-family: irish grover;
  }

  .custom-div {
    position: absolute;
    top: 222%;
    left: 10%;
    width: 30vw;
    height: 20vh;
    background-color: transparent; 
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/polaris.png');
    cursor: pointer;
  }
  .custom-link {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px; /* This hides the link text */
  }
  
 
  .journey{
    position: absolute;
    top: 220%;
    right: 10%;
    width: 40vw;
    height: 25vh;
    background-color: transparent; 
    
    line-height: 1.5;
    font-size: 16px;
    font-weight: bold;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Lato;
    text-align: justify;

  }

  .journey_2{
    position: absolute;
    top: 250%;
    left: 10%;
    right: 10%;
    line-height: 1.5;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent; 
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Lato;
    text-align: justify;
  }

  .divider_3 {
    width: 100%;
    position: absolute;
    top: 285%; /* Adjust this value based on your layout */
    height: 3px; 
    background: linear-gradient(to right, transparent, #004225, transparent); 
    margin: 20px 0;
  }
  
  .text-overlay {
    position: absolute;
    bottom: 10px; /* Adjust the positioning of the text overlay */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7); /* Adjust background color and opacity */
    padding: 5px 10px; /* Adjust padding as needed */
    color: #000; /* Text color */
    font-size: 14px; /* Font size */
    font-weight: bold; /* Font weight */
    text-align: center; /* Center align text */
    pointer-events: none; /* Ensures text does not interfere with clickability */
  }
  .education_text{
    top: 286%;
    position: absolute;
    left: 42%; 
    width: 50vw;
    padding: 20px;
    font-size: 30px;
    line-height: 1.5;
    font-weight: bold;
    font-family: irish grover;
  }
  
  .graduating_hat{
    
    position: absolute; 
    top: 332%;
    left: 10%;
    transform: translateY(-50%);
    width: 30vw;
    height: 40vh;
    background-image: url('../images/kk.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  
  .edu_1 {
    position: absolute;
    top: 310%;
    right: 10%;
    width: 450px; 
    height: 135px; 
    background-color: #e9ffdb   ;
    border-radius: 20px; 
    padding: 10px;
    text-align: center;
    line-height: 1;
  }

  .edu_1:hover {
    transform: translateY(-18px); 
  }

  .edu_2 {
    position: absolute;
    top: 340%;
    right: 10%;
    width: 450px; 
    height: 135px; 
    background-color: #e9ffdb   ;
    border-radius: 20px; 
    padding: 10px;
    text-align: center;
    line-height: 1;
  }

  .edu_2:hover {
    transform: translateY(-18px); 
  }

  .divider_4 {
    width: 100%;
    position: absolute;
    top: 370%; 
    height: 3px; 
    background: linear-gradient(to right, transparent, #004225, transparent); 
    margin: 20px 0;
  }

  .skill_text{
    top: 370%;
    position: absolute;
    left: 45%; 
    width: 50vw;
    padding: 20px;
    font-size: 30px;
    line-height: 1.5;
    font-weight: bold;
    font-family: irish grover;
  }

  .divider_5 {
    width: 100%;
    position: absolute;
    top: 440%; 
    height: 3px; 
    background: linear-gradient(to right, transparent, #004225, transparent); 
    margin: 20px 0;
  }

  .mission_text{
    top: 440%;
    position: absolute;
    left: 25%; 
    width: 50vw;
    padding: 20px;
    font-size: 30px;
    line-height: 1.5;
    font-weight: bold;
    font-family: irish grover;
  }
  
  .mission_paragraph {
    position: absolute;
    top: 455%; 
    left: 10%; 
    right: 10%; 
    padding: 20px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    font-family: irish grover;
    display: inline-block; 
    text-align: justify;
    text-justify: inter-word; 
  }

  .cv-section {
    top: 489%;
    width: 100%;
    height: 300px;
    font-family: irish grover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  
  .cv-content {
    text-align: center;
  }
  
  .cv-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .download-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #006a4e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .download-link:hover {
    background-color: #004225;
  }
  
  .download-icon {
    margin-left: 5px;
  }
