.container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f0ffff;
    overflow-x: hidden; 
  }

.faq-container {
    margin: calc(20px + 0.02195 * (100vw - 1366px)) auto;
    width: 80%;
    top: 20%;
    position: absolute;
    left: 10%;
  }
  
  .faq-list {
    border: 1px solid #ccc;
    border-radius: calc(5px + 0.02195 * (100vw - 1366px));
    overflow: hidden;
  }
  
  .faq-item {
    cursor: pointer;
    line-height: 1.5;
    padding-top: calc(10px + 0.02195 * (100vw - 1366px));
    padding-bottom: calc(10px + 0.02195 * (100vw - 1366px));
  }
  .faq-item:hover{
    background: #e9ffdb;
  }
  
  .faq-question {
    border-bottom: 1px solid #ccc;
    padding: calc(10px + 0.02195 * (100vw - 1366px)) calc(20px + 0.02195 * (100vw - 1366px));
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .faq-answer {
    padding: calc(10px + 0.02195 * (100vw - 1366px)) calc(20px + 0.02195 * (100vw - 1366px));
    background: #e9ffdb;
    border-top: 1px solid #ccc;
  }










  
  