@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap');

.container {
    position: relative;
    width: 100vw; /* take up 100% of the viewport width */
    height: 100vh; /* take up 100% of the viewport height */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f0ffff;
}

.name_text{
  position: fixed;
  top: 0;
  left: 100px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Ingrid Darling', cursive; 
  background-color: transparent;
}

.header_div {
  background-color: rgba(240, 255, 255, 0.93); 
  z-index: 100;
  top: 0;
  height: 80px;
  position: fixed; 
  width: 100%; 
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 30px;
  display: block;
  height: 100px;
  flex:none;
}

.buttons-container {
  display: flex;
}
  
.button {
  margin-right: 10px;
  background-color: transparent;
  color: #004225; 
  font-size: 16px; 
  font-weight: bold;
  border: none;
  margin-right: 50px;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease; 
}

.button:hover {
  background-color: #004225;
  color: white; 
  transform: translateY(-8px); 
}
